
<html>
	<head>
		<title>Display Board</title>
		<link rel="stylesheet" href="../css/departure-board.css" />
		<link rel="stylesheet" href="../css/styles.css" />
		<script src="../js/jquery.min.js" ></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

		<!-- Latest compiled and minified JavaScript -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Latest compiled and minified CSS -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<!-- Optional theme -->

		<script language="JavaScript" type="text/javascript">

var d=new Date();
var monthname=new Array("Jan","Feb","Mar","Apr","May","June","July","Aug","Sep","Oct","Nov","Dec");
var TODAY = monthname[d.getMonth()] + " " + d.getDate();





function setValue(selectedOption){

	document.getElementById("dcName").innerHTML =  selectedOption;



	if(selectedOption=='Cambridge Maple Grove')
	{
var qw="PR277WM";
var sid="PR271";
var host="LAKRWMSPRO1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
	if(selectedOption=='Ontario')
	{
var qw="PR277WM";
var sid="PR271";
var host="LAKRWMSPRO1.ngco.com";
var optn="region";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}

	if(selectedOption=='Moncton Atlantic Freezer')
	{
var qw="PR274WM";
var sid="PR273";
var host="lakrwmspra1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}

	if(selectedOption=='Edmonton 121A Ave')
	{
var qw="PR280WM";
var sid="PR272";
var host="lakrwmsprw1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
	if(selectedOption=='Moncton Baig Blvd')
	{
var qw="PR380WM";
var sid="PR273";
var host="lakrwmspra1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
	if(selectedOption=="St John's Clyde Ave")
	{
var qw="PR305WM";
var sid="PR273";
var host="lakrwmspra1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}

	if(selectedOption=="Ottawa Sheffield Rd")
	{
var qw="PR405WM";
var sid="PR271";
var host="LAKRWMSPRO1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}

	if(selectedOption=="Halifax Lakeside Dr")
	{
var qw="PR275WM";
var sid="PR273";
var host="lakrwmspra1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}

	if(selectedOption=="Calgary Northpoint")
	{
var qw="IEAUDT1";
var sid="P216";
var host="harntnp62.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}

	if(selectedOption=="Moncton Caledonia")
	{
var qw="PR381WM";
var sid="PR273";
var host="lakrwmspra1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
	if(selectedOption=="Aspect Logistics")
	{
var qw="IEAUDT1";
var sid="P141";
var host="harnthr64.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}

	if(selectedOption=="Calgary Freeport Blvd")
	{
var qw="PR281WM";
var sid="PR272";
var host="lakrwmsprw1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
	if(selectedOption=="Pitt Meadows Loughheed")
	{
var qw="PR456WM";
var sid="PR272";
var host="lakrwmsprw1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}

	if(selectedOption=="Saskatchewan Fleming")
	{
var qw="PR283WM";
var sid="PR272";
var host="lakrwmsprw1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
	if(selectedOption=="Vancouver SE Marine Dr")
	{
var qw="PR276WM";
var sid="PR272";
var host="lakrwmsprw1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
	if(selectedOption=="Winnipeg Weston Rd")
	{
var qw="PR282WM";
var sid="PR272";
var host="lakrwmsprw1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
	if(selectedOption=="Surrey 190th St")
	{
var qw="PR257WM";
var sid="PR272";
var host="lakrwmsprw1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}

	if(selectedOption=="Ajax Bayly")
	{
var qw="PR279WM";
var sid="PR271";
var host="LAKRWMSPRO1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
	if(selectedOption=="Caledon Airport Rd")
	{
var qw="PR455WM";
var sid="PR271";
var host="LAKRWMSPRO1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
	if(selectedOption=="St Laurent St Francois")
	{
var qw="PR407WM";
var sid="PR270";
var host="lakrwmsprQ1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
	if(selectedOption=="Boucherville")
	{
var qw="PR406WM";
var sid="PR270";
var host="lakrwmsprQ1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
	if(selectedOption=="Laval Francis-Hughes")
	{
var qw="PR228WM";
var sid="PR270";
var host="lakrwmsprQ1.ngco.com";
var optn="dc";
document.getElementById("val").value =  optn;
//alert(document.getElementById("qw").innerHTML);
document.getElementById("qw").value =  qw;
document.getElementById("sid").value =  sid;
document.getElementById("host").value =  host;
//alert(document.getElementById("qw").innerHTML);

	}
// document.getElementById('myFormName').submit();
}

</script>
<script type="text/javascript">

$(document).on("submit", "form", function(e){
	if($("#mainselection").val()=="0"){
		e.preventDefault();
    alert('Select a DC .. ');
    return  false;
	}

});
</script>

	</head>

	<body style="background-color:black;">

		<center>

				<div class="header">
					<ul class="list">
					<li class="listelement"><a href="/DisplayBoard/RoutedButNotReally">
						<img class="logo" src="/img/LCL_White_E.png"/></a></li>

				<li class="listelement" id="txt"> <script language="JavaScript" type="text/javascript">
                        document.write(TODAY);
                    </script></li>

				</ul>
				<ul class="list">

			<li class="listelement title"><label id="dcName" >Select DC</label></li>


			</ul>


			</div>
</center>
		<div  class="container" >
		</br>
	</br>
</br>
</br>
</br>
</br>
			<form name="myFormName" id="myFormName" action="/DisplayBoard/UnRoutedOrders/data" method="get">



					<input type="hidden" id="qw" name="qw">
					<input type="hidden" id="sid" name="sid">
					<input type="hidden" id="host" name="host">
					<input type="hidden" id="val" name="val">





<div class="input-group col-lg-4" style="margin-left: 30%;">

  <select class="form-control" style="width:300px" onchange="setValue(this.value)" name='optns'  id="mainselection" data-style="btn-primary">

  <option   value='Select an Option...'>Select an Option...</option>
  <!-- <optgroup label="Region">

    <option   value='Ontario'>Ontario</option>
  <option  value='Atlantic'>Atlantic</option>
  <option  value='Quebec'>Quebec</option>
  <option  value='West'>West</option>
  </optgroup> -->
    <optgroup label="DC's">
    <option   value='Cambridge Maple Grove'>D003</option>
    <option  value='Edmonton 121A Ave'>D004</option>
    <option  value='Moncton Atlantic Freezer'>D006</option>
    <option  value='Moncton Baig Blvd'>D014</option>
    <option  value="St John's Clyde Ave">D015</option>
    <option  value='Ottawa Sheffield Rd'>D016</option>
    <option  value='Halifax Lakeside Dr'>D021 </option>
    <!-- <option  value='Calgary Northpoint'>D022</option> -->
    <option  value='Moncton Caledonia'>D024 </option>
    <!-- <option  value='Aspect Logistics'>D028</option> -->
    <option  value='Calgary Freeport Blvd'>D031</option>
    <option  value='Pitt Meadows Loughheed'>D032</option>
    <option  value='Saskatchewan Fleming'>D034</option>
    <option  value='Vancouver SE Marine Dr'>D035</option>
    <option  value='Winnipeg Weston Rd'>D037</option>
    <option  value='Surrey 190th St'>D057</option>
    <option  value='Ajax Bayly'>D060</option>
    <option  value='Caledon Airport Rd'>D061</option>

    <option  value='Boucherville'>D067</option>
    <option  value='Laval Francis-Hughes'>D072</option>
    </optgroup>

  </select>

				 <span class="input-group-btn">
					 <button class="btn btn-success" id="searchbtn" type="submit">SUBMIT <span class="glyphicon glyphicon-check"></span></button>

				</span>
			</div>



</form>



	</div>







	</body>
</html>
